<?xml version="1.0" encoding="utf-8"?>


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thorfinnur.tobias">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:theme="@android:style/Theme.Black.NoTitleBar"
        android:allowBackup="true"
        android:icon="@drawable/jobbi_logo"
        android:label="JobbiGuz"
        android:roundIcon="@drawable/jobbi_logo"
        android:supportsRtl="true">

        <service
            android:name=".NotificationService"
            android:label="My Service" >
        </service>
        <service
            android:name=".SensorService"
            android:enabled="true">
        </service>
        <receiver
            android:name=".SensorRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="uk.ac.shef.oak.ActivityRecognition.RestartSensor"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>